/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBannerLight {
  background-image: url('/img/day_ultra.webp');
}

@media (max-width: 2560px) {
  .heroBannerLight {
    background-image: url('/img/day_large.webp');
  }
}

@media (max-width: 1920px) {
  .heroBannerLight {
    background-image: url('/img/day_desktop.webp');
  }
}

@media (max-width: 1280px) {
  .heroBannerLight {
    background-image: url('/img/day_tablet.webp');
  }
}

@media (max-width: 768px) {
  .heroBannerLight {
    background-image: url('/img/day_mobile.webp');
  }
}

/* Dark Mode */
.heroBannerDark {
  background-image: url('/img/night_ultra.webp');
}

@media (max-width: 2560px) {
  .heroBannerDark {
    background-image: url('/img/night_large.webp');
  }
}

@media (max-width: 1920px) {
  .heroBannerDark {
    background-image: url('/img/night_desktop.webp');
  }
}

@media (max-width: 1280px) {
  .heroBannerDark {
    background-image: url('/img/night_tablet.webp');
  }
}

@media (max-width: 768px) {
  .heroBannerDark {
    background-image: url('/img/night_mobile.webp');
  }
}

.heroBanner {
  background-size: cover;  /* Ensures the image fully covers the element */
  background-position: center -20px; 
  background-repeat: no-repeat; /* Prevents repetition */
  width: 100vw;  /* Full viewport width */
  height: 50vh; /* Full viewport height */
  display: flex;
  align-items: center; /* Centers content vertically */
  justify-content: center; /* Centers content horizontally */
  text-align: center;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gradientButton {
  background: linear-gradient(135deg, #d3e3ee, #d9f1d9); /* Light blue to light green */
  color: #000; /* Adjust text color if needed */
  border: none;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.gradientButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  opacity: 0.9;
}

.subtitleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;   /* centers the row itself */
  gap: 1rem;
  flex-wrap: wrap;
  text-align: center;        /* ensures text stays centered too */
}